{% load static %}
 <!-- ==== footer ==== -->
	   <footer class="footer2 bg-secondary text-light">
		  <!-- container -->
		  <div class="container">
			 <div class="col-lg-12 text-center">
				<!-- logo -->
				<img src="{% static 'img/logo_light.png' %}"  class="logo-footer img-fluid" alt=""/>
			 </div>
			 <!-- row -->
			 <div class="row mt-5">
				<div class="col-lg-4 text-center">
				   <h5 class="mt-2">Subscribe to our newsletter</h5>
				   <p>We send emails once a week</p>
				   <!-- Mailist Form -->				
				   <div id="mc_embed_signup">
					  <!-- your mailist address in the line bellow -->
					  <form action="//listname.list-manage.com/subscribe/post?u=04e646927a196552aaee78a7b&amp;id=0dae358e08" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						 <div id="mc_embed_signup_scroll">
							<div class="mc-field-group">
							   <div class="input-group">
								  <input class="form-control input-lg required email" type="email" value="" name="EMAIL" placeholder="Your email here" id="mce-EMAIL">
								  <span class="input-group-btn">
								  <button class="btn btn-tertiary" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
								  </span>
							   </div>
							   <!-- Subscription results -->
							   <div id="mce-responses" class="mailchimp">
								  <div class="alert alert-danger response" id="mce-error-response"></div>
								  <div class="alert alert-success response" id="mce-success-response"></div>
							   </div>
							</div>
							<!-- /mc-fiel-group -->									
						 </div>
						 <!-- /mc_embed_signup_scroll -->
					  </form>
					  <!-- /form ends -->
				   </div>
				   <!-- /mc_embed_signup -->		  
				</div>
				<!--/ col-lg -->
				<div class="col-lg-4 text-center res-margin">
				   <h5>Contact Us</h5>
				   <ul class="list-unstyled mt-3">
					  <li class="mb-1"><i class="fas fa-phone margin-icon "></i>(123) 456-789</li>
					  <li class="mb-1"><i class="fas fa-envelope margin-icon"></i><a href="mailto:email@yoursite.com">email@yoursite.com</a></li>
					  <li><i class="fas fa-map-marker margin-icon"></i>Street Name 123 - New York </li>
				   </ul>
				   <!--/ul -->
				</div>
				<!--/ col-lg -->
				<div class="col-lg-4 text-center">
				   <h5>Working Hours</h5>
				   <ul class="list-unstyled mt-3">
					  <li class="mb-1">Monday to Friday</li>
					  <li class="mb-1">Open from 9am - 6pm</li>
					  <li class="mb-1">Holidays / Weekends - Closed</li>
				   </ul>
				   <!--/ul -->
				</div>
				<!--/ col-lg -->
			 </div>
			 <!--/ row-->
			 <hr/>
			 <!-- col-md-12 -->
			 <div class="col-md-12">
				<div class="credits row">
				   <div class="col-md-6">
					  <p class="float-left mt-3">Copyright 2019 - 2021 / Designed by ABC Tots</a></p>
				   </div>
				   <!--/col-md-6 -->
				   <div class="col-md-6">
					  <!-- Start Social Links -->
					  <ul class="social-list float-right list-inline mb-0">
						 <li class="list-inline-item"><a title="Facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
						 <li class="list-inline-item"><a title="Twitter" href="#"><i class="fab fa-twitter"></i></a></li>
						 <li class="list-inline-item"><a  title="Instagram" href="#"><i class="fab fa-instagram"></i></a></li>
					  </ul>
					  <!-- /End Social Links -->
				   </div>
				   <!--/col-md-6 -->
				</div>
				<!--/credits -->
			 </div>
			 <!--/col-md-12-->
		  </div>
		  <!--/ container -->
		  <!-- Go To Top Link -->
		  <div class="page-scroll hidden-sm hidden-xs">
			 <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
		  </div>
		  <!--/page-scroll-->
	   </footer>
	   <!--/ footer-->
      