{% extends 'base.html' %} 
{% block title %} | Dashboard {% endblock %}
{% block content %}

<div id="page-wrapper">
  <!-- Breadcrumb -->
  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container" >
       <!-- jumbo-heading -->
       <div class="jumbo-heading" data-aos="fade-down">
          <h1>Dashboard</h1>
          <!-- Breadcrumbs -->
          <nav aria-label="breadcrumb">
             <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
             </ol>
          </nav>
          <!-- /breadcrumb -->
       </div>
       <!-- /jumbo-heading -->
    </div>
    <!-- /container -->
 </div>
 <!-- /jumbotron -->   
  <section id="gallery-home" class="container-fluid bg-tertiary no-bg-sm">
    <div class="container-fluid">
      <div class="container">
        {% include 'partials/_alerts.html' %}
        <i class="fas fa-user" style="color:yellow"></i><a href="{% url 'logout' %}"> Logout</a>
        <div class="row">
          <div class="col-md-12 notepad">
            <h2>Welcome {{user.first_name}}</h2>
            {% if comments %}
            <p>Here are the services that you have inquired about</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Message</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for comment in comments %}  
                <tr>
                  <td>{{comment.id}}</td>
                  <td>{{comment.message}}</td>
                  <td>
                    <a class="btn btn-light" href="#">View Details</a>
                  </td>
                </tr>
              {% endfor %}  
              </tbody>
            </table>
            {% else %}
            <p>You have no inquiries</p>
            {% endif %}
          </div>
        </div>
      </div> 
    </div>
  </section>  
</div>    
{% endblock %}