{% extends 'base.html' %} 
{% block title %} | Dashboard {% endblock %}
{% block content %}

  <!-- Breadcrumb -->
  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container" >
       <!-- jumbo-heading -->
       <div class="jumbo-heading" data-aos="fade-down">
          <h1>Dashboard</h1>
          <!-- Breadcrumbs -->
          <nav aria-label="breadcrumb">
             <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
             </ol>
          </nav>
          <!-- /breadcrumb -->
       </div>
       <!-- /jumbo-heading -->
    </div>
    <!-- /container -->
 </div>
 <!-- /jumbotron -->
  {% include 'partials/_alerts.html' %}
  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{user.first_name}}</h2>
          {% if contacts %}
          <p>Here are the property listings that you have inquired about</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Property</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
             {% for contact in contacts %}  
              <tr>
                <td>{{contact.id}}</td>
                <td>{{contact.listing}}</td>
                <td>
                  <a class="btn btn-light" href="{% url 'listing' contact.listing_id %}">View Listing</a>
                </td>
              </tr>
             {% endfor %}  
            </tbody>
          </table>
          {% else %}
          <p>You have no inquiries</p>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}