{% extends 'base.html' %} 
{% block title %} | Dashboard {% endblock %}
{% block content %}

<div id="page-wrapper">
  <!-- Breadcrumb -->
  <!-- Jumbotron -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container" >
       <!-- jumbo-heading -->
       <div class="jumbo-heading" data-aos="fade-down">
          <h1>Dashboard</h1>
          <!-- Breadcrumbs -->
          <nav aria-label="breadcrumb">
             <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
             </ol>
          </nav>
          <!-- /breadcrumb -->
       </div>
       <!-- /jumbo-heading -->
    </div>
    <!-- /container -->
 </div>
 <!-- /jumbotron -->
 <svg version="1.1" id="divider" class="primary" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 viewBox="0 0 1440 126" preserveAspectRatio="none slice" xml:space="preserve">
 <path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"/>
</svg>    
  {% include 'partials/_alerts.html' %}
  <section id="dashboard" class="py-0">
    <div class="container-fluid bg-primary block-padding pattern2 pt-lg-0">
      <div class="container">
        <i class="fas fa-user" style="color:yellow"></i><a href="{% url 'logout' %}"> logout</a>
        <div class="row">
          <div class="col-md-12 notepad">
            <h2>Welcome {{user.first_name}}</h2>
            {% if contacts %}
            <p>Here are the services that you have inquired about</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Property</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for contact in contacts %}  
                <tr>
                  <td>{{contact.id}}</td>
                  <td>{{contact.listing}}</td>
                  <td>
                    <a class="btn btn-light" href="{% url 'listing' contact.listing_id %}">View Details</a>
                  </td>
                </tr>
              {% endfor %}  
              </tbody>
            </table>
            {% else %}
            <p>You have no inquiries</p>
            {% endif %}
          </div>
        </div>
      </div> 
    </div>
  </section>  
</div>    
{% endblock %}