{% extends 'base.html' %} 
{% load static %}     
{% block title %} | Infant Care {% endblock %}
{% block content %}

<!-- page wrapper starts -->
  <div id="page-wrapper">
      <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid">
           <div class="container" >
              <!-- jumbo-heading -->
              <div class="jumbo-heading" data-aos="fade-down">
                 <h1>Infant care</h1>
                 <!-- Breadcrumbs -->
                 <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                       <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                       <li class="breadcrumb-item active" aria-current="page">Infant care</li>
                    </ol>
                 </nav>
                 <!-- /breadcrumb -->
              </div>
              <!-- /jumbo-heading -->
           </div>
           <!-- /container -->
        </div>
        <!-- /jumbotron -->

         <!-- ==== Page Content ==== -->
         <div class="page container">
            <!-- row-->
            <div class="row mb-5">
               <div class="col-lg-5">
                  <img src="{% static 'img/pricing.jpg' %}" alt="" class="img-fluid rounded d-block mx-auto">
               </div>
               <!-- /col-lg-->
               <div class="col-lg-7 mt-3">
                  <h2>Our Rates & Fees </h2>
                  <p>
                     Etiam vestibulum sit amet nulla vel ornare. Vestibulum vitae turpis ac sapien pharetra facilisis. Curabitur non libero justo.
                     <!-- alert-->
                  <div class="alert alert-warning mt-3" role="alert">
                     <h6> Payment information</h6>
                     <p>Curabitur et quam felis. Nulla rhoncus laoreet dolor, et vestibulum sem consectetur a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis ut sagittis tempor.
                  </div>
               </div>
               <!-- /col-lg-->
            </div>
            <!-- /row-->
            <!-- pricing tables -->
            <div class="col-lg-12 mt-5">
               <!-- row -->
               {% if infantcares %}
               <div class="row">
                    {% for infantcare in infantcares %}
                  <!-- pricing table 1 -->
                  <div class="col-lg-4 col-md-12">
                     <div class="pricingTable">
                        <div 
                        {% if infantcare.id == 1 %}
                        class="pricingTable-header bg-primary"
                        {% elif infantcare.id == 2 %}
                        class="pricingTable-header bg-secondary"
                        {% else %}
                        class="pricingTable-header bg-tertiary"
                        {% endif %}
                        >
                        <h3 class="title">{{infantcare.name}}</h3>
                        </div>
                        <!-- /pricingTable-header -->
                        <div 
                        {% if infantcare.id == 1 %}
                        class="pricingTable-header bg-primary"
                        {% elif infantcare.id == 2 %}
                        class="pricingTable-header bg-secondary"
                        {% else %}
                        class="pricingTable-header bg-tertiary"
                        {% endif %}
                        >
                           <div class="price-value">
                              <span class="amount">${{infantcare.price}}</span>
                              <span class="month">{{infantcare.discription}}</span>
                           </div>
                           <!-- /price-value -->
                           <ul>
                              <li>{{infantcare.intro1}}</li>
                              <li>{{infantcare.intro2}}</li>
                              <li>{{infantcare.intro3}}</li>
                              <li>{{infantcare.intro4}}</li>
                           </ul>
                           <a href="{% url 'contact' %}" class="btn">Sign Up</a>
                        </div>
                        <!-- /pricing content -->
                     </div>
                     <!-- /pricing-table -->
                  </div>
                  <!-- /col-md -->
                  {% endfor %}
                </div>
                <!-- /row  -->
                {% else %}
                <p>no price value available, please enter information at administrative page</p>
                {% endif %}
            </div>
            <!-- /col-lg-12 -->   <!-- row -->
            <div class="col-lg-12 mt-5">
               <h4>Administrative charges</h4>
               <p>
                  Etiam vestibulum sit amet nulla vel ornare. Vestibulum vitae turpis ac sapien pharetra facilisis. Curabitur non libero justo. Suspendisse at ultrices velit. Quisque aliquet quis nibh sed feugiat. Curabitur et quam felis. Nulla rhoncus laoreet dolor, et vestibulum sem consectetur a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt turpis ut sagittis tempor.
                  <!-- table -->
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>Ages</th>
                        <th>Fee Type</th>
                        <th>Value</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>12months to 2 years</td>
                        <td>Registration fee (one time only)</td>
                        <td>$40</td>
                     </tr>
                     <tr>
                        <td>2 years to 8 years</td>
                        <td>Registration fee (one time only)</td>
                        <td>$20</td>
                     </tr>
                     <tr>
                        <td>8 years to 12 years</td>
                        <td>Registration fee (one time only)</td>
                        <td>$20</td>
                     </tr>
                  </tbody>
               </table>
               <!-- /table-->
            </div>
            <!-- /col-lg-12-->
         </div>
         <!-- /page -->
        </div>
    <!--/ page-wrapper -->

{% endblock %}

 